/* Importing Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Styling for the main container */
div {
  background-color: #121212;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 0; /* Removing rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
  font-family: 'Roboto', sans-serif; /* Apply Roboto font globally */
}

/* Styling for the h1 heading */
h1 {
  font-size: 2rem;
  color: #e0e0e0;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

/* Styling for the main movie container */
.movie-block {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 15px;
  background-color: #1c1c1c;
  border-radius: 0; /* Removing rounded corners */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); /* Slight shadow */
}

/* Movie Poster Styling */
.movie-poster img {
  max-width: 150px;
  height: auto;
}

/* Movie Info Container */
.movie-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  flex: 1;
  color: #f0f0f0;
}

/* Movie Title */
.movie-title {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 500;
}

/* Movie Details */
.movie-details p {
  margin: 3px 0;
  font-size: 0.95rem;
  color: #d0d0d0;
}

/* Movie Videos */
.movie-videos h4 {
  margin-top: 10px;
  color: #ffffff;
}

.movie-videos ul {
  list-style-type: none;
  padding-left: 0;
}

.movie-videos ul li {
  margin: 5px 0;
}

.movie-videos ul li a {
  text-decoration: none;
  color: #007bff;
}

.movie-videos ul li a:hover {
  text-decoration: underline;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .movie-block {
    flex-direction: column;
  }

  .movie-info {
    margin-left: 0;
    margin-top: 10px;
  }

  .movie-poster img {
    max-width: 100%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #03a9f4;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  color: #fff;
}
